.sign-up-box {
    background-color: #150A30;
    width: 450px;
    height: 580px;
    margin: auto;
    margin-top: 25px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.sign-up-label {
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

.sign-up-input-fields-container {
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 20px 0;
}

.sign-up-input-fields-container input {
    width: 430px;
    height: 20px;
    margin-top: 20px;
    font-size: 15px;
    color: white;
    background-color: #150A30;
    padding: 10px;
    border: solid 0px;
    border-bottom: solid 2px white;
}

::placeholder {
    color: #DBDBDB;
}

input:focus {
    outline: none;
}

.sign-up-button {
    background-color: #A552B6;
    color: white;
    width: 110px;
    border-radius: 13px;
    padding: 13px;
    font-size: 17px;
    margin: 10px 0 30px 0;
}

.sign-in-question {
    margin: 15px 0 5px 0;
    font-size: 12px;
    color: #DBDBDB;
}

.sign-in {
    color: #A552B6;
    background: none;
    border: none;
    font-weight: bold;
    font-size: 15px;
    margin-top: 5px;
}